<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for content in content.all %}
            <h2>제목 : {{content.title}}</h2>
            <p style=font-size:small>날짜 : {{content.datetime}}</p>
            
            <p style=font-size:small>본문 : {{content.summary}}  <a href="detail/{{content.pk}}">...more</a></p>
        {% endfor %}
    </div>
</body>
</html>