header {
    display: flex;
    width: 1000px;
    margin: 80px auto;
}

main{
    display:flex;
    width:1000px;
    margin-left:200px;
}

.imgbtn {
    border:none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    padding:0;
}


.container {
    display: flex;
    margin-left: 50px;
    margin-bottom:20px;
}

.profile{
    margin-left:150px;
}

.profileUserSetting {
    display: flex;
    align-items: center;
}

.profileUserName {
    font-weight:500;
    font-size:30px;
    margin: 0;
}

.profileEdit {
    margin-left: 20px;
    height:25px;
    padding: 1px 20px 1px 20px;
    font-weight: bold;
    border: 1px solid rgb(223, 220, 220);
}

.profileStats{
    margin-top:20px;
    margin-bottom:50px;
}

.profileStats ul{
    list-style:none;
    flex-direction:row;
}

.profileStats li {
    float:left;
    margin-right:25px;
}

.profileIntroduce {
    font-weight: bold;
    margin-top:65px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: auto;
}

.galleryPicture {
    width: 250px;
    height: 250px;
    position:relative;
}

.galleryPicture img {
    width: 250px;
    height: 250px;
}

.galleryPictureInfo {
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    position: absolute;
    
    top: 120px;
    left: 120px; 
    transform: translate(-120px, -120px);
}

.galleryPictureInfo ul {
    list-style: none;
}

.galleryPictureInfo li {
    font-size: 11pt;
    color: white;
    font-weight: 700;
    text-align: center;
    float:left;
    padding-right:30px;
}

.galleryPicture:hover .galleryPictureInfo {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.219);
}