<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
    {% load static %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="{% static 'img/icon.png' %}">
</head>
<body>
    <header>
        <div class="left_box">
            <div class="favicon_frame">
                <img class="faviconFrame" src="{% static 'img/line_favicon.png' %}" alt="인스타 로고"/>
            </div>
            <div class="line">
                <img class="logo" src="{% static 'img/logo_text.png' %}" alt="인스타 글씨"/>
            </div>
        </div>
        <div class="right_box">
            <div class="heart_box">
                <a href="{% url 'new' %}">
                <img class="heart" src="{% static 'img/new.png' %}" alt="글 작성"/>
                </a>
            </div>
            <div class="myInfo_box">
                <img class="myInfo" src="{% static 'img/myinfo.png' %}" alt="내 프로필"/>
            </div>
        </div>
    </header>

    {% block content %}
    
    {% endblock %}
    
</body>
</html>