{% block content %}
<!DOCTYPE html>
<html>
	
    <meta charset="UTF-8">
	{% load static %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css"/>
    <title>Instagram</title>
	
	<link rel="icon" href="{% static 'img/icon.png' %}">
</head>


<body>
<header>
	<div class="container">
			<div class="profileImg">
                <button class="imgbtn" title="프로필 사진 바꾸기">
				<img src="{% static 'img/ssu_likelion_logo_150x150.png' %}" alt="">
            	</button>
			</div>
        <div class="profile">
			<div class="profileUserSetting">
				<h1 class="profileUserName">{{author.username}}</h1>
				<button class="profileEdit">프로필 편집</button>
			</div>

			<div class="profileStats">
				<ul>
					<li><span class="profileStatsNum">000</span> 게시물</li>
					<li><span class="profileStatsNum">000</span> 팔로워</li>
					<li><span class="profileStatsNum">000</span> 팔로잉</li>
				</ul>
			</div>

			<div class="profileIntro">
				<p class="profileIntroduce">hello world✈️ 게시글 누르면 피드로 이동</p>
		    </div>
			<div class="write">
				<a href="{% url 'new'%}">
				<button class="writebutton">글쓰기</button>
				</a>
				<a href="{% url 'logout' %}">
					<button class="logoutbutton">로그아웃</button>
				</a>
			</div>
			
        </div>
		
		<!-- End of profile section -->
	</div>
	<!-- End of container -->
</header>

<main>
	<div class="galleryContainer">
		<div class="gallery">
			{% for post in posts %}
			<div class="galleryPicture" tabindex="0">
				<a href="{% url 'feed' post.id %}">
				<img src="{{post.image.url}}" class="galleryImg" alt="">
				<div class="galleryPictureInfo">
					<ul>
						<li class="galleryPictureLikes"><span class="visualHiddenInfo">Likes:</span><i class="heart" aria-hidden="true"></i> 0</li>
						<li class="galleryPictureComments"><span class="visualHiddenInfo">Comments:</span><i class="comment" aria-hidden="true"></i> 0</li>
					</ul>
				</div>
				</a>
			</div>
			{% endfor %}
		</div>
		<!-- End of gallery -->
	</div>
	<!-- End of container -->
</main>
</body>

</html>
{% endblock %}
